[submodule "vendor/srt"]
	path = vendor/srt
	url = https://github.com/Haivision/srt.git
[submodule "vendor/mbedtls"]
	path = vendor/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "vendor/librist"]
	path = vendor/librist
	url = https://code.videolan.org/rist/librist.git
[submodule "vendor/freertos-kernel"]
	path = embedded/vendor/freertos-kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "vendor/freertos-plus-posix"]
	path = embedded/vendor/freertos-plus-posix
	url = https://github.com/FreeRTOS/Lab-Project-FreeRTOS-POSIX.git
[submodule "vendor/lwip"]
	path = embedded/vendor/lwip
	url = https://github.com/lwip-tcpip/lwip.git
